MODS= 918101187835,923045204414  #(Change with your number, separate with comma)
MONGODB=mongodb+srv://fantox:xrto71r@cluster0.dnlowts.mongodb.net/?retryWrites=true&w=majority  #(You can Change with your own MongoDB url)
SESSION_ID= putyoursessionidhere  #(You have to chage it everytime to get new qr code)
PREFIX=-  #(Change with anything like !,/,#,$ except @)
TENOR_API_KEY=AIzaSyCyouca1_KKy4W_MG1xsPzuku5oa8W358c  #( Change with your own Tenor API key)
PACKNAME=Atlas MD
AUTHOR=FantoX
